body {
    font-family: 'Noto Sans', sans-serif;
    color: rosybrown;
    background: #406882;
}

header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 0;
    background-color: antiquewhite;
    color: darkseagreen;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

.sidebar {
    background-color: lightslategrey;
    color: antiquewhite;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.projects {
    text-align: center;
}

.projects-grid {
    justify-self: center;
    display: grid;
}

.project-image {
    padding: 4%;
    border-radius: 15px;
    opacity: 70%;
}

.project-image:hover {
    opacity: 100%;
    box-shadow: 10px solid black;
    filter: brightness(125%);
}

.project-image-wrapper {
    justify-self: center;
    padding: 4%;
}