body {
    font-family: 'Didact-Gothic', serif;
    color: rosybrown;
    background: #406882;
}

header {
    display: flex;
    justify-content: center;
    z-index: 0;
    background-color: antiquewhite;
    color: #eeb167;
    margin-top: -8px;
    margin-right: -8px;
}

nav {
    display: flex;
    position: absolute;
    right: 50px;
    top: 20px;
    align-items: center;
}

nav ul li {
    display: inline-block;
    justify-content: end;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(121, 175, 145);
    font-weight: bold;
    font-size: large;
}

.sidebar {
    background-color: lightslategrey;
    color: antiquewhite;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
}

aside {
    flex-direction: column;
    padding-right: 5px;
}

.cont {
    padding-right: 40px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px 1.5px antiquewhite;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2.5%;
}

.banner {
    justify-content: center;
    display: flex;
    position: absolute;
    height: 250px;
    width: 750px;
    margin: 0 auto;
}

.banner-image {
    border-radius: 40px;
}

.banner-image:hover {
    box-shadow: 10px solid black;
    filter: brightness(125%);
}

.projects-grid {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

main {
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 225px;
}

.project-image {
    padding: 4%;
    border-radius: 15px;
    opacity: 70%;
}

.project-image:hover {
    opacity: 100%;
    box-shadow: 10px solid black;
    filter: brightness(125%);
}

.row-1 {
    justify-self: center;
    padding: 4%;
    margin-right: 60px;
}

.row-2 {
    justify-self: center;
    padding: 4%;
    margin-left: 60px;
}

@media only screen and (max-width: 825px) {
    header {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }
}